body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;      /* prevents scrollbars */
    display: flex;
    justify-content: center;
    align-items: center;   /* centers the canvas */
    text-align: center;
    cursor: url('../Images/mouse-pointer.cur'), auto;

    touch-action: manipulation;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

#gameContainer {
    position: relative;
}

#board {
    display: block;
}

#resetBtn {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    padding: 0;
    background: linear-gradient(to bottom, #ffd700, #e6ac00);
    border: 4px solid black;
    border-radius: 12px;
    box-shadow: 0 6px #000000;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('../Images/click-pointer.cur'), pointer;
}

#resetBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}

#resetBtn:active {
    box-shadow: 0 2px #000;
    transform: translateX(-50%) translateY(4px);
}

#gameOverBox,
#scoreTextBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to top, #ffa380, #ffdc00);
    border: 4px solid black;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    color: black;    
    z-index: 20;
    border-radius: 12px;
}

#gameOverBox {
    top: 30%;
}

#gameOverBox p{
    margin: 0;
}

#scoreTextBox {
    top: 45%;
}

#yourScoreText,
#highScoreText {
    white-space: nowrap;
    font-size: 16px;
    margin: 8px 0;
}

#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#playButton {
    font-size: 24px;
    font-family: 'Press Start 2P', cursive; /* Optional retro font */
    background: linear-gradient(to bottom, #ffd700, #e6ac00);
    color: white;
    border: 4px solid black;
    border-radius: 12px;
    box-shadow: 0 6px #000;
    padding: 20px 40px;
    cursor: pointer;
    text-shadow: 1px 1px black;
    transition: transform 0.1s ease-in-out;
    cursor: url('../Images/click-pointer.cur'), pointer;
}

#playButton:active {
    box-shadow: 0 2px #000;
    transform: translateY(4px);
}

#gameTitle {
    font-family: 'Press Start 2P', cursive; /* or your preferred font */
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px black;
    margin-bottom: 55px;
    text-align: center;
}